<ActionBar title="PLAYER DETAILS">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<GridLayout class="animate-fadeInUp-delay-0ms">
    <ScrollView orientation="vertical">
        <GridLayout rows="auto, auto,auto,auto, *" columns="*">
            <Image row="0" col="0" [src]="player_data.imageURL" stretch="aspectFill"
                class="profilePic"></Image>
            <Label row="1" col="0" [text]="player_data.fullName" class="title-profile"
                textAlignment="center"></Label>
                <Label row="2" col="0" [text]="player_data.country" class="title-nation"
                textAlignment="center"></Label>

            <GridLayout row="3" col="0" rows="*, *, *, *, *,*" columns="auto, *"
                class="additional-info">
                <Label *ngIf="player_data?.battingStyle" row="0" col="0" text="&#xf0c1;" class="fa icon-aditional-info"></Label>
                <Label *ngIf="player_data?.battingStyle" row="0" col="1" [text]="player_data?.battingStyle" class="fa description-aditional-info"></Label>

                <Label *ngIf="player_data?.playingRole" row="1" col="0" text="&#xf0c1;" class="fa icon-aditional-info"></Label>
                <Label *ngIf="player_data?.playingRole" row="1" col="1" [text]="player_data?.playingRole" 
                    class="fa description-aditional-info"></Label>
                    <Label *ngIf="player_data?.majorTeams" row="2" col="0" text="&#xf0c0;" class="fa icon-aditional-info"></Label>
                <Label *ngIf="player_data?.majorTeams" row="2" col="1" [text]="player_data?.majorTeams"  textWrap="true"
                    class="fa description-aditional-info"></Label>
                    <Label *ngIf="player_data?.currentAge" row="3" col="0" text="&#xf073;" class="fa icon-aditional-info"></Label>
                    <Label *ngIf="player_data?.currentAge" row="3" col="1" [text]="player_data?.currentAge"  textWrap="true"
                        class="fa description-aditional-info"></Label>
                        <Label *ngIf="player_data?.born" row="4" col="0" text="&#xf06b;" class="fa icon-aditional-info"></Label>
                    <Label *ngIf="player_data?.born" row="4" col="1" [text]="player_data?.born"  textWrap="true"
                        class="fa description-aditional-info"></Label>
                        <Label *ngIf="player_data?.bowlingStyle" row="5" col="0" text="&#xf1db;" class="fa icon-aditional-info"></Label>
                    <Label *ngIf="player_data?.bowlingStyle" row="5" col="1" [text]="player_data?.bowlingStyle"  textWrap="true"
                        class="fa description-aditional-info"></Label>
            </GridLayout>

            <GridLayout row="4" col="0" 
                class="content-followers">
                <StackLayout orientation="vertical">
                    <Label [text]="player_data.profile"  textWrap="true"
                    class="fa description-aditional-info p-l-10 p-r-10"></Label>
                  </StackLayout>
            </GridLayout>

        </GridLayout>
    </ScrollView>
</GridLayout>

