<!-- <ActionBar title="UP COMING MATCHES" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>
</ActionBar> -->
<ActionBar title="UP COMING MATCHES" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" title="Back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<!-- <ListView class="list-group" [items]="items">
    <ng-template let-item="item">
        <GridLayout class="list-group-item" rows="*,auto" columns="*">
            <Label row="0" col="0" textWrap="true" [text]="item['team-2']"
                color="orange"></Label>
            <Label row="1" col="0" [text]="item.title" color="red"></Label>
        </GridLayout>
    </ng-template>
</ListView> -->
<StackLayout padding="10 0">
    <ListView class="list-group" [items]="items" backgroundColor="#26252A" opacity="0.6" style="height:100%">
      <ng-template let-item="item">
          <GridLayout rows="*, *, 2*" columns="100, *, 10" backgroundColor="rgba(255,255,255,0.2)" height="100" margin="2.5 15" padding="10 0" borderRadius="10">
            <StackLayout row="0" rowSpan="3" col="0" backgroundColor="rgba(0,0,0,0.5)" height="80" width="80" verticalAlignment="center" horizontalAlignment="center" borderRadius="5"></StackLayout>
            <StackLayout row="0" col="1" backgroundColor="rgba(0,0,0,0.5)" width="100%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
                <Label   textWrap="true" [text]="item['team-1']"
                color="orange"></Label>
                <Label   textWrap="true" text="    vs    "
                color="orange"></Label>
                <Label   textWrap="true" [text]="item['team-2']"
                color="orange"></Label>
            </StackLayout>
            <StackLayout row="1" col="1" backgroundColor="rgba(0,0,0,0.5)" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
                <Label   textWrap="true" [text]="item.type"
                color="orange"></Label>
            </StackLayout>
            <StackLayout row="2" col="1" backgroundColor="rgba(0,0,0,0.5)" height="40" width="100%" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
                <Label   textWrap="true" [text]="item.date | date :'fullDate'"
                color="orange"></Label>
                <Label   textWrap="true" [text]="item.dateTimeGMT | date : 'mediumTime'"
                color="orange"></Label>
            </StackLayout>
          </GridLayout>
      </ng-template>
    </ListView>
<ActivityIndicator horizontalAlignment="center" verticalAlignment="center"
    [busy]="processing" class="activity-indicator">
</ActivityIndicator>
</StackLayout>