.action-bar{
	background-color:#00bcd4;
	color: #fff;
	text-transform: uppercase;
}


.dummy-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
background-image: url("~/assets/images/new-team-list.png");
}
.text-winner{
    font-weight: 800;
    font-size: 15;
    color: red;
    text-transform: uppercase;
}