<!-- <ActionBar title="UP COMING MATCHES" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>
</ActionBar> -->
<ActionBar title="UP COMING MATCHES" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" title="Back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout class="p-t-5">
         <ActivityIndicator *ngIf="processing" horizontalAlignment="center" verticalAlignment="center"
    [busy]="processing" class="activity-indicator">
</ActivityIndicator>
    <ListView class="list-group"  [items]="items"  style="height:100%" marginLeft="10" marginRight="10">
      <ng-template let-item="item">
          <GridLayout rows="*, auto,auto" columns="auto, *" padding="5" borderRadius="10" (tap)="showItem(item.unique_id)">
            <StackLayout row="0" colSpan="2">
                <Label class="playing-team p-b-5" textWrap="true" text="{{item['team-1']}} vs {{item['team-2']}}"
                ></Label>
            </StackLayout>
            <StackLayout row="1" rowSpan="2" col="0" class="dummy-img" height="60" width="60"></StackLayout>
            <StackLayout row="1" col="1" >
                <Label class="cricket-type p-l-5" textWrap="true" [text]="item.type"
                ></Label>
            </StackLayout>
            <StackLayout orientation="vertical" row="2" col="1" >
                <Label class=" p-l-5" textWrap="true" text="{{item.date | date :'fullDate'}} {{item.dateTimeGMT | date : 'mediumTime'}}"
                ></Label>
                <Label  *ngIf="item?.winner_team" class="text-winner" textWrap="true" [text]="item?.winner_team"></Label>
            </StackLayout>
            
          </GridLayout>
      </ng-template>
    </ListView>
</StackLayout>