<ActionBar title="LIVE SCORE" class="action-bar" backgroundColor="#00bcd4">
  <NavigationButton android.systemIcon="ic_menu_back" title="Back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView orientation="vertical">
  <StackLayout>
    <ActivityIndicator
      *ngIf="!newMatches"
      horizontalAlignment="center"
      verticalAlignment="center"
      [busy]="newMatches"
      class="activity-indicator"
    >
    </ActivityIndicator>
    <GridLayout rows="auto,auto,auto, auto" columns="auto" class="content" *ngFor="let item of newMatches">
      <FlexboxLayout row="0" width="100%" class="cr-next" *ngIf="!item.score.batting">
        <Label class="text-center " text="Next Match"></Label>
      </FlexboxLayout>
      <GridLayout
        class="p-l-10 p-r-10"
        marginTop="10"
        row="1"
        width="100%"
        columns="auto,*"
        rows="auto,auto,auto,auto"
        verticalAlignment="center"
      >
        <StackLayout row="0" col="0" rowSpan="4" class="m-r-10 m-b-5 m-t-5">
          <Image src="~/assets/images/team-logo/IPL-logo.jpg" height="70" width="70" stretch="aspectFit"></Image>
        </StackLayout>

        <Label
          row="0"
          col="1"
          class="cr-name text-uppercase"
          textwrap="true"
          text="{{ item.teamOne.name }} vs {{ item.teamTwo.name }}"
        ></Label>
        <Label
          row="1"
          col="1"
          class="cr-category"
          textwrap="true"
          [text]="item.seriousType ? item.seriousType.name : 'Cricket'"
        ></Label>
        <Label row="2" col="1" class="cr-place" text="{{ item.venue?.name }} {{ item.venue?.location }}"></Label>
        <Label row="3" col="1" class="cr-time" text="{{ item.time | date: 'medium' }}"></Label>
      </GridLayout>

      <FlexboxLayout
        row="2"
        class="m-t-10 m-b-10 p-l-10 p-r-10"
        flexDirection="row"
        justifyContent="space-between"
        width="100%"
        (tap)="goNewMatchList()"
        *ngIf="item.score.batting"
      >
        <StackLayout class="cr-score" borderRadius="5" width="20%">
          <Image
            src="~/assets/images/team_icon.png"
            borderTopLeftRadius="4"
            borderTopRightRadius="4"
            stretch="aspectFill"
            width="80"
            height="60"
          ></Image>
          <Label class="text-center text-uppercase" [text]="item.battingTeam"></Label>
        </StackLayout>
        <StackLayout class="p-l-5 cr-score-line" width="30%">
          <FlexboxLayout flexDirection="row" justifyContent="space-between" width="100%">
            <Label
              *ngIf="item.teamRun['0']"
              class="text-right cr-score-text"
              fontSize="14"
              text="{{ item.teamRun['0'].score }}/{{ item.teamRun['0'].wkts }}"
            ></Label>
            <Image
              class="p-r-5"
              height="20"
              width="20"
              stretch="aspectFit"
              class="anim-icons"
              src="~/assets/images/batting_icon.png"
            ></Image>
          </FlexboxLayout>
          <Label class="text-left" fontSize="10" text="(overs: {{ item.teamRun['0'].overs }})"></Label>
          <FlexboxLayout flexDirection="row">
            <Label
              *ngIf="item.batsManName['0']"
              class="text-left text-uppercase cr-score-text"
              fontSize="10"
              textWrap="true"
              text="{{ item.batsManName['0'].name }}"
            ></Label
            ><Label
              *ngIf="item.batsManName['0'].strike === '1'"
              class="text-left text-uppercase cr-score-text"
              fontSize="10"
              textWrap="true"
              text="*"
            ></Label>
          </FlexboxLayout>
          <Label
            *ngIf="item.batsman['0']"
            class="text-left"
            fontSize="7"
            text="({{ item.batsman['0'].r }} from {{ item.batsman['0'].b }} balls)"
          ></Label>
          <Label
            *ngIf="item.batsManName['1']"
            class="text-left text-uppercase cr-score-text"
            fontSize="10"
            textWrap="true"
            [text]="item.batsManName['1'].name"
          ></Label>
          <Label
            *ngIf="item.batsman['1']"
            class="text-left"
            fontSize="7"
            text="({{ item.batsman['1'].r }} from {{ item.batsman['1'].b }} balls)"
          ></Label>
        </StackLayout>
        <StackLayout class="p-r-5" width="30%">
          <FlexboxLayout flexDirection="row" justifyContent="space-between" width="100%">
            <Image
              class="p-l-5"
              height="18"
              width="18"
              stretch="aspectFit"
              class="anim-icons"
              src="~/assets/images/black_ball.png"
            ></Image>
            <Label
              *ngIf="item.oppoTeamRun['0']"
              class="text-right cr-score-text"
              fontSize="14"
              text="{{ item.oppoTeamRun['0'].score }}/{{ item.oppoTeamRun['0'].wkts }}"
            ></Label>
          </FlexboxLayout>

          <Label
            *ngIf="item.oppoTeamRun['0']"
            class="text-right"
            fontSize="10"
            text="(overs: {{ item.oppoTeamRun['0'].overs }})"
          ></Label>
          <Label
            *ngIf="item.bowlerName['0']"
            class="text-right text-uppercase cr-score-text"
            fontSize="10"
            textWrap="true"
            [text]="item.bowlerName['0'].name"
          ></Label>
          <Label
            *ngIf="item.bowler['0']"
            class="text-right"
            fontSize="7"
            text="({{ item.bowler['0'].o }} overs {{ item.bowler['0'].r }} runs {{ item.bowler['0'].w }} wickets)"
          ></Label>
          <Label
            *ngIf="item.bowlerName['1']"
            class="text-right text-uppercase cr-score-text"
            fontSize="10"
            textWrap="true"
            [text]="item.bowlerName['1'].name"
          ></Label>
          <Label
            *ngIf="item.bowler['1']"
            class="text-right"
            fontSize="7"
            text="({{ item.bowler['1'].o }} overs {{ item.bowler['1'].r }} runs {{ item.bowler['1'].w }} wickets)"
          ></Label>
        </StackLayout>
        <StackLayout class="cr-score" borderRadius="5" width="20%">
          <Image
            src="~/assets/images/team_icon.png"
            borderTopLeftRadius="4"
            borderTopRightRadius="4"
            stretch="aspectFill"
            width="80"
            height="60"
          ></Image>
          <Label class="text-center text-uppercase" [text]="item.bowlingteam"></Label>
        </StackLayout>
      </FlexboxLayout>
      <FlexboxLayout row="3" flexDirection="column" class="p-l-10 p-r-10" width="100%">
        <ScrollView orientation="vertical" class="scrol-view" *ngIf="item.score.prev_overs">
          <FlexboxLayout>
            <Label class="text-uppercase cr-status h3 font" text="Overs:"></Label
            ><Label class="text-uppercase cr-status h3 font" [text]="item.score?.prev_overs" textWrap="true"></Label>
          </FlexboxLayout>
        </ScrollView>
        <Label *ngIf="item?.status" class=" text-uppercase cr-status h3" [text]="item?.status" textWrap="true"></Label>
      </FlexboxLayout>
    </GridLayout>
  </StackLayout>
</ScrollView>
